body {
  font-family: 'Cardo', serif;
  /* background: url('https://png.pngtree.com/element_origin_min_pic/17/09/29/94f13b5dc37d33c3bb8b92a5d0e4059a.jpg');
  background-attachment: fixed;
  background-repeat: inherit;
  color: #03034b;
  */
  background-image: linear-gradient(120deg, #62a4f4 0%, #c2e9fb 100%);
  background-attachment: fixed;
  background-repeat: inherit;
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  text-align: center;
}

.social-icons {
  flex: 1 1 0;
}

.collect-points {
  width: 200px;
}

.centering-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.list {
  list-style: none;
}

.divider {
  margin-left: 27px;
  margin-right: 27px;
}

.progress-wrapper {
  width: 150px;
}

/* .sponsor-card {
  margin: 30px;
} */

.SimpleSlider-card-103 {
  margin: 20px;
}

.cover-img {
  width: 75%;
  padding-left: 22%;
}

.image-container {
  margin: 0 auto;
}

.quote {
  font-size: 30px;
  color: #ffc107;
}

.center {
  justify-content: 'center';
  padding: 20px;
}

.repImage {
  margin: 0 auto;
  background-size: contain;
}

.padding {
  padding: 20px;
  text-align: center;
}

/* #app {
  background: url('https://png.pngtree.com/element_origin_min_pic/17/09/29/94f13b5dc37d33c3bb8b92a5d0e4059a.jpg');
  background-attachment: fixed;
  background-repeat: inherit;
  color: #03034b;
  /* height: 100vh; */
/* }  */

.FilterOrgs-root-136 {
  /* background-color: #ece7e538;
  border-radius: 16px;
  padding: 17px; */
  margin: 0 auto;
}
