body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  text-align: center;
}

.social-icons {
  flex: 1 1 0;
}

.collect-points {
  width: 200px;
}

.centering-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.list {
  list-style: none;
}

.divider {
  margin-left: 27px;
  margin-right: 27px;
}

.progress-wrapper {
  width: 150px;
}
