body {
  font-family: 'Cardo', serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  text-align: center;
}

.social-icons {
  flex: 1 1 0;
}

.collect-points {
  width: 200px;
}

.centering-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.list {
  list-style: none;
}

.divider {
  margin-left: 27px;
  margin-right: 27px;
}

.progress-wrapper {
  width: 150px;
}

/* .sponsor-card {
  margin: 30px;
} */

.SimpleSlider-card-103 {
  margin: 20px;
}

.cover-img {
  width: 75%;
  padding-left: 22%;
}

.image-container {
  margin: 0 auto;
}

.quote {
  font-size: 30px;
  color: #ffc107;
}

.center {
  justify-content: 'center';
  padding: 20px;
}

.padding {
  padding: 20px;
  text-align: center;
}
